<h1>Add a new Post</h1>

<%= form_with model: @post do |form| %>
  <div>
  <%= form.label :title, "My Post Title" %><br>
  <%= form.text_field :title %>
</div>

<div>
  <%= form.label :text, "My Post Text" %><br>
  <%= form.text_area :text, size: "70x5" %>
</div>

  <%= form.hidden_field :author_id, value: @current_user.id %>
  <%= form.submit "Create Post" %>
<% end %>


