<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class='content'>
  <header>
      <% if user_signed_in? %>
        <h3>Hello <strong><%= current_user.name.capitalize %></strong></h3>
        <h4><%= link_to "GET YOUR API TOKEN", api_token_user_path(current_user.id) %> </h4>
      <% end %>
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </header>

    <%= yield %>

    </div>
  </body>
</html>
